.bg-body {
  background-color: rgb(0, 0, 0) !important;
  color: white;
}
.sagor {
  display: flex;
  /* justify-content: space-between; */
}
.sagor1 {
  width: 300px;
  height: 280px;
  overflow-x: hidden;
}
.sagor2 {
  width:500px;
  height: 600px;
}
